@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/functions.scss";
@import "global/placeholders.scss";

@import "base/accessibility.scss";
@import "base/body.scss";
@import "base/typography.scss";

#page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

.site-branding {
	@extend %container;
}

.site-title {
	margin: 0;
	font-size: 1rem;

	a,
	img {
		display: block;
		max-height: 6em;
	}
}

.top-navigation {
	ul {
		@extend %unstyled-list;
		@extend %container;

		display: flex;
		justify-content: flex-end;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	li {
		margin-left: 1em;
	}
}

.primary-navigation {
	background-color: #333;
	text-align: right;
	width: 100%;

	ul {
		@extend %unstyled-list;
		@extend %container;

		display: flex;
		justify-content: flex-end;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	li {
		margin-left: 1em;
	}

	a {
		color: white;
	}

	.children {
		display: none;
	}
}

.site-content {
	article {
		@extend %container;
	}
}
